html, body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Montserrat', sans-serif;
	font-size: 10px;
	box-sizing: border-box;
}

.landing {
	width: 100vw;
	height: 100vh;
	background-color: #404040;
	background-image: url(../../assets/test/reflectionfull.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

.mainTitle{
	margin-top: 0;

	width: auto;
	text-align: center;
}

h1 {
	margin: 0;
	padding: 20rem 0 0 0;
	font-size: 15rem;
	letter-spacing: -1rem;
	font-weight: bold;
	color: #f0f0f0;
	text-shadow: 0px 4px 0px rgba(0,0,0,.4);
}

h1 span {
	font-weight: 500;
	position: relative;
	color: #f0f0f0;
	/*-webkit-transform: translateY(-1rem);*/
	        /*transform: translateY(-1rem);*/
	top: -1rem;
	padding: .5rem;
}

h2 {
	font-size: 4rem;
	display: inline;
	position: relative;
	left: 15.9rem;
	top: -3rem;
	letter-spacing: .52rem;
	color: #acacac;
	text-shadow: 0px 4px 0px rgba(0,0,0,.4);
}



.mainCTA {
	margin-top: 10rem;
	width: auto;
	text-align: center;
}

.mainCTA p {
	text-align: center;
	font-size: 4rem;
	letter-spacing: 1rem;
	font-weight: 400;
	color: #f0f0f0;
	margin-top: 0;
}

.mainCTA span {
	position: relative;
	/*-webkit-transform: translateY(-1rem);*/
	        /*transform: translateY(-1rem);*/
	top: -.3rem;
}

.btn {
	-webkit-appearance: none;
	opacity: .8;
	width: 30rem;
	margin: 1rem;
	padding: 1.5rem 0;
	font-size: 2rem;
	letter-spacing: .3rem;
	color: #f0f0f0;
	background: rgb(63,163,184);
    background: linear-gradient(to bottom right, rgb(63,163,184) 0%, rgb(82,200,196) 100%); 
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	text-shadow: 0px 2px 0px rgba(0,0,0,.4);
	box-shadow: 0px 4px 1px rgba(0,0,0,.3);
	transition: .3s;
}

.btn:hover {
	-webkit-appearance: none ;
	-webkit-transform: translateY(.2rem);
	        transform: translateY(.2rem);
}

.social {
	width: auto;
	text-align: center;
}

.social p {
	font-size: 2rem;
	color: #f0f0f0;
	margin-bottom: .5rem;
}

.social a {
	font-size: 2rem;
	padding: 0 1rem;
	color: #acacac;
	transition: .5s ease;
}

.social a:hover {
	color: rgb(63,163,184);
}

/*----------------------

	  MEDIA QUERIES

------------------------*/

@media screen and (max-width: 479px) and (min-width: 320px){

body, html {
	background-color: #000;
	overflow-y: auto;
}

.container {
	width: 100%;
	
}

.landing {
	width: 100vw;
	height: 100vh;
	background-color: #404040;
	background-image: url(../../assets/test/reflectiontab.jpg);
	background-repeat: no-repeat;
	background-position: left left;
	background-size: cover;
	padding-bottom: 10rem;

}

h1 {
	font-size: 5.2rem;
	padding-top: 5rem;
	letter-spacing: -.4rem;
	text-shadow: 0px 2px 0px rgba(0,0,0,.4);
}

h1 span {
	font-weight: 500;
	position: relative;
	color: #f0f0f0;
	/*-webkit-transform: translateY(-1rem);*/
	        /*transform: translateY(-1rem);*/
	top: -.4rem;
	padding: .5rem;
}

h2 {
	font-size: 1.2rem;
	display: inline;
	position: relative;
	left: 5.8rem;
	top: -1rem;
	letter-spacing: .3rem;
	color: #acacac;
	text-shadow: 0px 2px 0px rgba(0,0,0,.4);
}

.mainCTA {
	margin-top: 4rem;
}

p#full, p#tab {
	display: none;
}

div#mobile {
	margin-bottom: 3rem;
}

div#mobile p {
	text-align: center;
	font-size: 1.4rem;
	letter-spacing: .6rem;
	font-weight: 400;
	color: #f0f0f0;
	margin-top: 0;
	margin-bottom: 1rem;
	line-height: 1rem;

}

.tab3 {
	font-size: 2.8rem;
	letter-spacing: .5rem;
	color: #f0f0f0;
	margin-top: -1rem;

}


hr {
	width: 15%;
	margin-top: 1.2rem;
}
.btn {
	-webkit-appearance: none;
	display: block;
	opacity: .8;
	width: 25rem;
	margin: 1rem auto 2rem auto;
	padding: 1rem 0;
	font-size: 2rem;
	letter-spacing: .3rem;
	color: #f0f0f0;
	background: rgb(63,163,184);
    background: linear-gradient(to bottom right, rgb(63,163,184) 0%, rgb(82,200,196) 100%); 
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	text-shadow: 0px 2px 0px rgba(0,0,0,.4);
	box-shadow: 0px 4px 1px rgba(0,0,0,.3);
	transition: .3s;
}

a {
	text-decoration: none;
}

.btn:hover {
	-webkit-appearance: none ;
	-webkit-transform: translateY(.2rem);
	        transform: translateY(.2rem);
}

.social {
	margin-top: 4rem;
}

.social p {
	font-size: 1.5rem;
	color: #f0f0f0;
	margin-bottom: .7rem;
}

.social a {
	font-size: 1.5rem;
	padding: 0 .7rem;
	color: #acacac;
	transition: .5s ease;
}



}
@media screen and (max-width: 767px) and (min-width: 480px){

.container {
	width: 100%;
	overflow: auto;
}

h1 {
	font-size: 7rem;
	padding-top: 15rem;
	letter-spacing: -.7rem;
	text-shadow: 0px 2px 0px rgba(0,0,0,.4);
}

h2 {
	font-size: 1.7rem;
	display: inline;
	position: relative;
	left: 7.5rem;
	top: -1.5rem;
	letter-spacing: .3rem;
	color: #acacac;
	text-shadow: 0px 2px 0px rgba(0,0,0,.4);
}

.mainCTA {
	margin-top: 7rem;
}

p#full, p#tab {
	display: none;
}

div#mobile {
	margin-bottom: 5rem;
}

div#mobile p {
	text-align: center;
	font-size: 2rem;
	letter-spacing: .8rem;
	font-weight: 400;
	color: #f0f0f0;
	margin-top: 0;
	margin-bottom: 1rem;
	line-height: 4rem;

}

.tab3 {
	font-size: 3.25rem;
	letter-spacing: .5rem;
	color: #f0f0f0;
	margin-top: -1rem;

}


hr {
	width: 15%;
	margin-top: 1.2rem;
}
.btn {
	-webkit-appearance: none;
	display: block;
	opacity: .8;
	width: 25rem;
	margin: 2rem auto;
	padding: 1rem 0;
	font-size: 2rem;
	letter-spacing: .3rem;
	color: #f0f0f0;
	background: rgb(63,163,184);
    background: linear-gradient(to bottom right, rgb(63,163,184) 0%, rgb(82,200,196) 100%); 
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	text-shadow: 0px 2px 0px rgba(0,0,0,.4);
	box-shadow: 0px 4px 1px rgba(0,0,0,.3);
	transition: .3s;
}

a {
	text-decoration: none;
}

.btn:hover {
	-webkit-appearance: none ;
	-webkit-transform: translateY(.2rem);
	        transform: translateY(.2rem);
}

.social {
	margin-top: 4rem;
}

.social p {
	font-size: 1.5rem;
	color: #f0f0f0;
	margin-bottom: .7rem;
}

.social a {
	font-size: 1.5rem;
	padding: 0 .7rem;
	color: #acacac;
	transition: .5s ease;
}


}
@media screen and (max-width: 991px) and (min-width: 768px){

.container {
	width: 100%;
	overflow: auto;
}

h1 {
	font-size: 11rem;
	padding-top: 15rem;
}

h2 {
	font-size: 2.5rem;
	display: inline;
	position: relative;
	left: 11.5rem;
	top: -2rem;
	letter-spacing: .6rem;
	color: #acacac;
	text-shadow: 0px 4px 0px rgba(0,0,0,.4);
}

p#full, div#mobile {
	display: none;
}

p#tab {
	text-align: center;
	font-size: 2rem;
	letter-spacing: .8rem;
	font-weight: 400;
	color: #f0f0f0;
	margin-top: 0;
	margin-bottom: 3rem;
	line-height: 4rem;

}

.tab3 {
	font-size: 3.25rem;
	letter-spacing: .5rem;
}

.btn {
	-webkit-appearance: none;
	display: block;
	opacity: .8;
	width: 25rem;
	margin: 2rem auto;
	padding: 1rem 0;
	font-size: 2rem;
	letter-spacing: .3rem;
	color: #f0f0f0;
	background: rgb(63,163,184);
    background: linear-gradient(to bottom right, rgb(63,163,184) 0%, rgb(82,200,196) 100%); 
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	text-shadow: 0px 2px 0px rgba(0,0,0,.4);
	box-shadow: 0px 4px 1px rgba(0,0,0,.3);
	transition: .3s;
}

a {
	text-decoration: none;
}

.btn:hover {
	-webkit-appearance: none ;
	-webkit-transform: translateY(.2rem);
	        transform: translateY(.2rem);
}

.social {
	margin-top: 4rem;
}

}
@media screen and (max-width: 1203px) and (min-width: 992px){

h1 {
	font-size: 12rem;
	padding-top: 17rem;
}

h2 {
	font-size: 3rem;
	display: inline;
	position: relative;
	left: 12.7rem;
	top: -2.5rem;
	letter-spacing: .5rem;
	color: #acacac;
	text-shadow: 0px 4px 0px rgba(0,0,0,.4);
}

p#full, div#mobile {
	display: none;
}

p#tab {
	text-align: center;
	font-size: 2.7rem;
	letter-spacing: 1rem;
	font-weight: 400;
	color: #f0f0f0;
	margin-top: 0;
	line-height: 4.7rem;
}

.tab3 {
	font-size: 3.8rem;
}

.btn {
	-webkit-appearance: none;
	display: block;
	opacity: .8;
	width: 30rem;
	margin: 2rem auto;
	padding: 1.5rem 0;
	font-size: 2rem;
	letter-spacing: .3rem;
	color: #f0f0f0;
	background: rgb(63,163,184);
    background: linear-gradient(to bottom right, rgb(63,163,184) 0%, rgb(82,200,196) 100%); 
	border: none;
	border-radius: 1rem;
	cursor: pointer;
	text-shadow: 0px 2px 0px rgba(0,0,0,.4);
	box-shadow: 0px 4px 1px rgba(0,0,0,.3);
	transition: .3s;
}

a {
	text-decoration: none;
}

.btn:hover {
	-webkit-appearance: none ;
	-webkit-transform: translateY(.2rem);
	        transform: translateY(.2rem);
}

.social {
	margin-top: 4rem;
}

}
@media screen and (max-width: 1352px) and (min-width: 1204px){

h1 {
	padding-top: 17rem;
}

p#full, div#mobile {
	display: none;
}

p#tab {
	text-align: center;
	font-size: 3.3rem;
	letter-spacing: 1rem;
	font-weight: 400;
	color: #f0f0f0;
	margin-top: 0;
	line-height: 6rem;
}


.tab3 {
	font-size: 4.8rem;
}

}
@media screen and (max-width: 1495px) and (min-width: 1353px){

h1 {
	padding-top: 17rem;
}

p#full, div#mobile {
	display: none;
}

p#tab {
	text-align: center;
	font-size: 3.3rem;
	letter-spacing: 1rem;
	font-weight: 400;
	color: #f0f0f0;
	margin-top: 0;
	line-height: 6rem;
}


.tab3 {
	font-size: 4.8rem;
}

}
@media screen and (max-width: 1636px) and (min-width: 1496px){

h1 {
	padding-top: 17rem;
}

p#full, div#mobile {
	display: none;
}

p#tab {
	text-align: center;
	font-size: 3.3rem;
	letter-spacing: 1rem;
	font-weight: 400;
	color: #f0f0f0;
	margin-top: 0;
	line-height: 6rem;
}


.tab3 {
	font-size: 4.8rem;
}

}


@media screen and (max-width: 3000px) and (min-width: 1637px){

p#tab, div#mobile {
	display: none;
}

p#full {
	text-align: center;
	font-size: 3.5rem;
	letter-spacing: 1rem;
	font-weight: 400;
	color: #f0f0f0;
	margin-top: 0;
}

}

