 /*SITE COLOR PALLETE 

	Blue: #168185;



*/

/* BEGIN GENERAL STYLING */

body,html {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	box-sizing: border-box;
}

.container {
	width: 75%;
	max-width: 1400px;
	margin: 0 auto;
}

/* BEGIN CUSTOM SCROLLBAR STYLING*/

/* width */
body::-webkit-scrollbar {
    width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #b8b8b8; 
    border-radius: 55px;
    
}

body::-webkit-scrollbar-button {
	display: none;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #168185; 
    border-radius: 55px;
    
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #168185; 
    border-radius: 55px;
}

body::-webkit-scrollbar-corner {
    background: #168185; 
    border-radius: 55px;
}

/* END CUSTOM SCROLLBAR STYLING*/

/* MAIN NAVIGATION STYLES */

.logo{
	text-align: center;
	margin: 0 auto;
	z-index: 2;
}
.arrows {
	width: 4.375rem;
	height: 4.375rem;
	background-color: none;
	border: 2px solid #f0f0f0;
	color: #168185;
	border-radius: 50%;
	text-align: center;
	vertical-align: center;
	line-height: 4.375rem;
	margin-top: 2rem;
	margin-bottom: -.625rem;
}

.logo h1 {
	color: #168185;
	font-weight: 600;
	font-size: 2.125rem;
	letter-spacing: 2px; 
}

.logo h1 span {
	color: #f0f0f0;
	font-weight: 300;
}

.logo h2 {
	font-weight: 300;
	color: #f0f0f0;
	font-size: 1.5rem;
	margin-top: -25px;
	margin-bottom: 20px;
}

.mainnav {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.mainnav ul {
	list-style-type: none;
}

.mainnav ul li a {
	font-size: 1.5rem;
	text-decoration: none;
	margin-right: 120px;
	display: inline-block;
	color: #f0f0f0;
	margin-bottom: 2px;

}

.mainnav ul li a:last-child {
	text-decoration: none;
	margin-right: 0px;
}

.mainnav ul li a:hover {
	border-bottom: 2px solid #168185;
	margin-bottom: -2px;
	color: #f0f0f0;
	transition-property: border-bottom, margin-bottom;
	transition: all .08s ease-in-out;
}

.mainnav ul li a.active {
	border-bottom: 2px solid #f0f0f0;
	margin-bottom: -2px;
	color: #168185;
}

.divideline {
	width: 90%;
	margin: 0 auto;
	border: 1.5px solid #b8b8b8;
}

/* END MAIN NAVIGATION STYLES */

/* END GENERAL STYLING */

/* MAIN HERO STYLES */

/*.indexheader {
	min-height: 1080px;
	overflow-y: hidden;
	background: url(../../assets/developer/herobackground.jpg);
	background-blend-mode: lighten;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}*/

.indexheader {
	min-height: 1080px;
	overflow-y: hidden;
	background: #5c5c5c; 
	background-image: linear-gradient(to top right, rgba(0,0,0,.5), rgba(11,135,147,.6)),
					  url(../../assets/developer/herobackground.jpg);
	background-image: -webkit-linear-gradient(to top right, rgba(0,0,0,.5), rgba(11,135,147,.6)),
					  url(../../assets/developer/herobackground.jpg);
	background-image: -moz-linear-gradient(to top right, rgba(0,0,0,.5), rgba(11,135,147,.6)),
					  url(../../assets/developer/herobackground.jpg);
	background-image: -o-linear-gradient(to top right, rgba(0,0,0,.5), rgba(11,135,147,.6)),
					  url(../../assets/developer/herobackground.jpg);
	background-blend-mode: overlay;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.quote {
	font-family: 'Rock Salt', cursive;
	text-align: center;
	margin-top: 200px;
	text-shadow: 0px 4px 4px rgba(0,0,0,.7);
}

.quote blockquote {
	font-size: 3.125rem;
	color: #f0f0f0;
	line-height: 1.5em;
	margin-bottom: -10px;
}

.quote h4 {
	font-size: 1.5rem;
	color: #b8b8b8;
	margin-bottom: 17rem;
}

/* END MAIN HERO STYLES */

/* PROJECTS SECTION STYLES */

.projects {
	height: auto;
	padding: 2.5rem 0 0 0;

	background-color: #d2d8d8; 
	text-align: center;
}

.projects h3 {
	text-align: center;
	margin-top: 0;
	font-size: 2rem;
	color: #3CB2A0;
}

.cardgrid {
	display: flex;
	width: auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: auto;
	padding: 1rem 0 2rem 0;
}

.card {
	max-width: 33%;
	padding-bottom: 2rem;
}

.card img {
	width: 90%;
	/*box-shadow: 0px 3px 5px rgba(90,90,90,.4);*/
	transition:  .3s;
}

.card img:hover {

	transform: translateY(-.5rem);
}

.card h4 {
	font-size: 1.5rem;
	color: #0088aa;
	margin: 1rem 0 .5rem 0;
	text-align: center;
}

.card h5 {
	width: 90%;
	text-align: center;
	margin: .5rem auto;
}

.card span {
	margin: 0;
}

.card p {
	text-align: center;
	color: #707070;
}

.card i {
	padding-right: .5rem;
	color: #db8d47;
}

.sourceCode {
	font-size: 1.5rem;
	color: #db8d47;
	text-decoration: none;
}

.projects button {
	width: auto;
	height: auto;
	margin: 0 auto 3rem auto;
	padding: .5rem 2rem;
	background-color: #ef6700;
	border: none;
	border-radius: 3rem;
	box-shadow: 0px 3px 2px rgba(55,55,55,.3);
	cursor: pointer;
	transition: .3s;
}

.projects button:hover {
	transform: translateY(.2rem);
}

.projects .viewMore {
	font-size: 1.1rem;
	text-decoration: none;
	color: #f0f0f0;
}

/* END PROJECTS SECTION STYLES */

/* CUSTOMER FEEDBACK SECTION STYLES*/

.feedback.levelOne{
	display: block;
	text-align: center;
	text-shadow: 0px 3px 2px rgba(55,55,55,.5);
	height: auto;        
	background: rgb(67,206,162);
    background: -moz-linear-gradient(-45deg, rgb(67,206,162) 2%, rgb(24,90,157) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(67,206,162) 2%,rgb(24,90,157) 100%);
    background: linear-gradient(135deg, rgb(67,206,162) 2%,rgb(24,90,157) 100%);
    background-attachment: fixed;
}

.feedback.levelTwo{
	display: block;
	text-align: center;
	text-shadow: 0px 3px 2px rgba(55,55,55,.5);
	height: auto;        
	background: rgb(67,206,162);
    background: -moz-linear-gradient(-45deg, rgb(24,90,157) 12%, rgb(67,206,162) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(24,90,157) 12%,rgb(67,206,162) 100%);
    background: linear-gradient(145deg, rgb(24,90,157) 12%,rgb(67,206,162) 100%);
    background-attachment: fixed;
}

.feedback blockquote {
	color: #fff;
	max-width: 70%;
	font-size: 1.7rem;
	padding: 7rem 0 1rem 0;
	margin: 0 auto;
}

.feedback h4 {
	color: #f0f0f0;
	font-size: 1.5rem;
	margin: 0;
	padding-bottom: 7rem;
}

/* END CUSTOMER FEEDBACK SECTION STYLES */

/* ABOUT SECTION STYLES */

.aboutmain {
	background: rgb(247,247,247);
    background: -moz-linear-gradient(bottom, rgb(247,247,247) 1%, rgb(188,188,188) 100%);
    background: -webkit-linear-gradient(bottom, rgb(247,247,247) 1%,rgb(188,188,188) 100%);
    background: linear-gradient(to top, rgb(247,247,247) 1%,rgb(188,188,188) 100%);
    text-align: center;
}

.about {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 4rem 0 4rem 0;
	width: 75%;
}

.aboutimg {
	width: 50%;
	text-align: center;
}

.aboutimg img {
	margin: .5rem;
}
.content {
	width: 50%;
	padding-left: 2rem;
}

.content h3 {
	color: #3CB2A0;
	font-size: 2rem;
}

.content p {
	width: 90%;
	font-size: 1.2rem;
	margin: 0 auto;
	line-height: 1.6rem;
	color: #707070;
}
.content ul {
	width: 40%;
	margin: 0;
	padding: 0 0 2rem 0;
	text-align: center;
	display: inline-block;
	list-style-type: none;
	color: #707070;
}

.content ul h5 {
	font-size: 1.2rem;
	margin: 2rem auto .5rem auto;
}

.content ul li {
	font-size: 1.2rem;
	padding: .2rem;
}

.content button {
	width: auto;
	height: auto;
	margin: 0 1rem 3rem auto;
	padding: .5rem 2rem;
	background-color: #ef6700;
	border: none;
	border-radius: 3rem;
	box-shadow: 0px 3px 2px rgba(55,55,55,.3);
	cursor: pointer;
	transition: .3s;
}

.content button:last-child {
	margin-right: 0;
}

.content button:hover {
	transform: translateY(.2rem);
}

.content a {
	font-size: 1.1rem;
	text-decoration: none;
	color: #f0f0f0;
}


/* END ABOUT SECTION STYLES */



/* CONTACT SECTION STYLES */

.devcontact.levelTwo {
	width: 100%;
	height: auto;
	padding: 5rem 0;
	text-align: center;
	background: rgb(67,206,162);
    background: -moz-linear-gradient(-45deg, rgb(24,90,157) 12%, rgb(67,206,162) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(24,90,157) 12%,rgb(67,206,162) 100%);
    background: linear-gradient(145deg, rgb(24,90,157) 12%,rgb(67,206,162) 100%);
    background-attachment: fixed;
}

.devcontact h3 {
	font-size: 1.6rem;
	font-weight: 400;
	color: #f7f7f7;
	width: 70%;
	text-align: center;
	margin: 0 auto;
	text-shadow: 0px 3px 2px rgba(55,55,55,.4)
}

.devcontact button {
	width: auto;
	height: auto;
	margin: 2rem 0 0 0;
	padding: .5rem 2rem;
	background-color: #ef6700;
	border: none;
	border-radius: 3rem;
	box-shadow: 0px 3px 2px rgba(55,55,55,.3);
	cursor: pointer;
	transition: .3s;
}

.devcontact a {
	text-decoration: none;
	color: #f7f7f7;
	font-size: 1.5rem;
}

.devcontact button:hover {
	transform: translateY(.2rem);
}

/* END CONTACT SECTION STYLES */

/* FOOTER SECTION STYLES */

footer {
	height: 5.5rem;
	background-color: #00012f;
	text-align: center;
}

footer p {
	margin: 0;
	padding: 0;
}

footer ul {
	margin-top: 0;
	list-style-type: none;
}

footer ul li a {
	text-decoration: none;
	color: #f0f0f0;
	margin: 15px 25px 0px 25px;
	display: inline-block;
}

footer ul li a:first-child {
	margin-left: 0;
}

footer span, footer p {
	color: #f0f0f0;
}

/* END FOOTER SECTION STYLES */

/* -------------------------------------- */

/* BEGIN ABOUT PAGE STYLING */



.aboutheader {
	height: auto;
	overflow: hidden;
	background: #555; 
	background-image: linear-gradient(to bottom right, rgba(14,0,54,.4), rgba(11,135,147,.6)),
					  url(../../assets/developer/herobackground9.jpg);
	background-image: -webkit-linear-gradient(to bottom right, rgba(14,0,54,.4), rgba(11,135,147,.6)),
					  url(../../assets/developer/herobackground9.jpg);
	background-image: -moz-linear-gradient(to bottom right, rgba(14,0,54,.4), rgba(11,135,147,.6)),
					  url(../../assets/developer/herobackground9.jpg);
	background-image: -o-linear-gradient(to bottom right, rgba(14,0,54,.4), rgba(11,135,147,.6)),
					  url(../../assets/developer/herobackground9.jpg);
	background-blend-mode: overlay;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.aboutmsg {
	color: #f0f0f0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 4rem 0 4rem 0;
}

.aboutmsgContent {
	width: 60%;
	padding-left: 1rem;
}

.aboutmsgContent p {
	font-size: 1.4rem;
	line-height: 3rem;
}

.aboutmsgImg {
	width: 30%;
}

.aboutmsgImg img {
	width: 80%;
	border: 5px solid #168185;
	border-radius: 50%;
}

/* BEGIN TECH SKILL SECTION STYLING */

.techskills {
	padding: 3rem 0 1.5rem 0;
	text-align: center;
	background: rgb(247,247,247);
    background: -moz-linear-gradient(top, rgb(247,247,247) 1%, rgb(188,188,188) 100%);
    background: -webkit-linear-gradient(top, rgb(247,247,247) 1%,rgb(188,188,188) 100%);
    background: linear-gradient(to bottom, rgb(247,247,247) 1%,rgb(188,188,188) 100%);
}

.techskills h3 {
	margin: 0 0 3rem 0;
	padding: 0;
	font-size: 2rem;
	color: #3CB2A0;
}

.skills {
	display: inline-flex;
	width: auto;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: auto;
	padding-bottom: 4rem;
}

.skillcontent {
	
	width: 50%;
}

.skillcontent h4 {
	display: block;
	margin: 0 0 1rem 0;
	font-size: 1.4rem;
	color: #707070;
	text-align: center;
}

.skillcontent hr {
	border: none;
	width: 60%;
	height: .15rem;
	background-color: #a4a4a4;
}

.skillcontent p {
	width: 70%;
	margin: 0 auto 1.25rem auto;
	line-height: 2rem;
	color: #707070;
}

.skillcontent span {
	font-weight: 600;
}

.skillcontent button {
	padding: .5rem 1rem;
	border: 1px solid #ef6700;
	border-radius: 2rem;
	cursor: pointer;
	transition: .3s;
}

.skillcontent a {
	text-decoration: none;
	color: #ef6700;
	font-size: 1.2rem;
}

.skillcontent button:hover {
	transform: translateY(.2rem);
}



.skillcontent img {
	width: 5rem;
	padding: 1rem 1rem 2rem 1rem;
	vertical-align: top;
}

.skillimg {
	width: 50%;
	overflow: hidden;
	border-radius: 1rem;
}

.skillimg img {
	width: 100%;
	border-radius: 1rem;
	transition: .6s;	
}

.skillimg:hover img {
	transform: scale(1.1);
}

/* END TECH SKILL SECTION STYLING */

/* BEGIN EDUCATION SECTION STYLING */

.educationhr {
	border: none;
	width: 80%;
	height: .15rem;
	background-color: #c7c7c7;
}

.hidden {
	display: hidden;
}

.educationsection {

	padding: 2rem 0 4rem 0;
	text-align: center;
}



.educationsection h3 {
	margin: 0 0 2rem 0;
	font-size: 2rem;
	color: #3CB2A0;
}

.education {
	display: inline-flex;
	width: auto;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: top;
	height: auto;
	padding-bottom: .5rem;
}

.edcontent {
	width: 30%;
	line-height: 2rem;
	background-color: rgba(255,255,255, .2);
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}

.edcontent p {
	width: 90%;
	margin: 1rem auto;
	color: #707070;
}

.edcontent h5 {
	font-size: 1.4rem;
	color: #707070;
	padding: 0;
	margin: 0;
}

.edcontent img {
	width: 100%;
	border-radius: .5rem;
	margin-bottom: 1rem;

}

/* END EDUCATION SECTION STYLING */

/* BEGIN CONTACT LEVEL TWO SECTION STYLING */

.contact.levelTwo {
	width: 100%;
	height: auto;
	padding: 5rem 0 ;
	text-align: center;
	background: rgb(67,206,162);
    background: -moz-linear-gradient(-45deg, rgb(67,206,162) 2%, rgb(24,90,157) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(67,206,162) 2%,rgb(24,90,157) 100%);
    background: linear-gradient(135deg, rgb(67,206,162) 2%,rgb(24,90,157) 100%);
    background-attachment: fixed;
}

.contact h3 {
	font-size: 1.6rem;
	font-weight: 400;
	color: #f7f7f7;
	width: 70%;
	text-align: center;
	margin: 0 auto;
	text-shadow: 0px 3px 2px rgba(55,55,55,.4);
}

.contact button {
	width: auto;
	height: auto;
	margin: 2rem 0 0 0;
	padding: .5rem 2rem;
	background-color: #ef6700;
	border: none;
	border-radius: 3rem;
	box-shadow: 0px 3px 2px rgba(55,55,55,.3);
	cursor: pointer;
	transition: .3s;
}

.contact a {
	text-decoration: none;
	color: #f7f7f7;
	font-size: 1.5rem;
}

.contact button:hover {
	transform: translateY(.2rem);
}



/* END CONTACT LEVEL TWO SECTION STYLING */

/* BEGIN HOBBIES SECTION STYLING */

.passionsection {
	padding: 3.5rem 0 4rem 0;
	text-align: center;
	background: #ddd url(../../assets/developer/aboutpattern.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-y: hidden;
}


.passionsection h3 {
	margin: 0 0 3rem 0;
	font-size: 2rem;
	color: #3CB2A0;
}

.passions {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	text-align: center;
}


.passion {
	max-width: 30%;
	margin: 0 1rem 0 1rem;
}

.passion img {
	width: 80%;
	margin-bottom: 1rem;
}

.passion p {
	width: 85%;
	margin: 0 auto;
	padding-top: 1rem;
	line-height: 1.6rem;
	color: #707070;
}

.passion hr {
	border: none;
	width: 60%;
	height: .15rem;
	background-color: #a4a4a4;
}

/* END HOBBIES SECTION STYLING */

/* END ABOUT PAGE STYLING */

/* -------------------------------------- */

/* BEGIN PROJECTS PAGE STYLING */

/* MAIN HERO SECTION */



.projectsheader {
	height: 17rem;
	background-color: rgb(80,94,115);
	
    background-image: 
					  linear-gradient(to bottom right, rgba(54,0,51,.7), rgba(11,135,147,.8)),
					  url(../../assets/developer/projectspattern2.png);
	background-image: 
	                  -moz-linear-gradient(to bottom right, rgba(54,0,51,.7), rgba(11,135,147,.8)),
	                  url(../../assets/developer/projectspattern2.png);
    background-image: 
                      -webkit-linear-gradient(to bottom right, rgba(54,0,51,.7), rgba(11,135,147,.8)),
                      url(../../assets/developer/projectspattern2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: normal; 
	padding-bottom: 3rem;
}

    

.quote {
	font-family: 'Rock Salt', cursive;
	text-align: center;
	margin-top: 200px;
	text-shadow: 0px 4px 4px rgba(0,0,0,.7);
}

.quote blockquote {
	font-size: 3.125rem;
	color: #f0f0f0;
	line-height: 1.5em;
	margin-bottom: -10px;
}

.quote h4 {
	font-size: 1.5rem;
	color: #b8b8b8;
	margin-bottom: 17rem;
}

/* END MAIN HERO SECTION */

/* WIDE PROJECT SECTION */
.liveProjects {
	padding: 2rem 0 4rem;
	background: rgb(247,247,247);
    background: -moz-linear-gradient(top, rgb(240,240,240) 1%, rgb(188,188,188) 100%);
    background: -webkit-linear-gradient(top, rgb(240,240,240) 1%,rgb(188,188,188) 100%);
    background: linear-gradient(to bottom, rgb(240,240,240) 1%,rgb(188,188,188) 100%);

	text-align: center;
}

.projectWide {
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	align-items: flex-start;
	margin: 3rem auto 0 auto;
	padding: 2rem 0 2rem 0;
	width: 100%;
}

.projectImg {
	width: 50%;
}

.projectImg img {
	width: 90%;
}

.projectContent {
	width: 40%;
	margin: 0;
	padding: 0;
}

.projectContent h4 {
	font-size: 2rem;
	color: #0088aa;
	margin: 1rem 0 0 0;
}

.projectContent h5 {
	font-size: 1.25rem;
	color: #808080;
	margin: .5rem 0 1rem 0;
}

.projectContent p {
	line-height: 1.55rem;
	font-size: 1.2rem;
	width: 85%;
	margin: 1rem auto;
	color: #707070;
}

.projectContent i {
	font-size: 2rem;
	padding: 0 .5rem 0 .5rem;
	transition: .3s;
}

.projectContent i:hover {
	transform: translateY(-.5rem);
}

.right {
	text-align: left;
}

.left {
	text-align: right;
}


.sourceCode {
	font-size: 1.5rem;
	color: #db8d47;
	text-decoration: none;
}

/* END WIDE PROJECT SECTION */

/* 3 GROUP PROJECT SECTION*/

.groupProjects {
	height: auto;
	padding: 4rem 0 4rem 0;
	background: rgb(67,206,162);
    background: -moz-linear-gradient(-45deg, rgb(67,206,162) 2%, rgb(24,90,157) 100%);
    background: -webkit-linear-gradient(-45deg, rgb(67,206,162) 2%,rgb(24,90,157) 100%);
    background: linear-gradient(135deg, rgb(67,206,162) 2%,rgb(24,90,157) 100%);
    background-attachment: fixed;
}

.groupProjects h3 {
	text-align: center;
	margin: 0 0 1rem 0;
	font-size: 2rem;
	font-weight: 500;
	color: #f7f7f7;
	text-shadow: 0px 3px 2px rgba(55,55,55,.4)
}

.threeGroup {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 2rem 0 2rem 0;
	width: 100%;
}

.groupProject {
	width: 30%;
	height: 20rem;
	background-color: rgba(0,0,0, .1);
	padding: 1.1rem;
	border-radius: 1rem;
	box-shadow: 0px 3px 5px rgba(0,0,0,.4);
	transition: .3s;
}

.groupProject:hover {
	transform: translateY(-.3rem);
}

.groupProject h4 {
	text-align: center;
	margin: 1rem 0 .5rem 0;
	font-size: 1.3rem;
	font-weight: 500;
	color: #f7f7f7;
	text-shadow: 0px 3px 2px rgba(55,55,55,.4);
}

.groupImg img {
	border-radius: .5rem;
	opacity: .7;
	width: 100%;
	height: auto;
}

.groupProject p {
	color: #ccc;
	font-size: 1.1rem;
	font-weight: 500;
	margin-top: 0;
}




/* END 3 GROUP PROJECT SECTION */

/* SNIPPET PROJECT SECTION */

.snippetProjects {
	padding-top: 0;
	margin-top: 0;
	height: auto;
	text-align: center;
	background: rgb(247,247,247);
    background: -moz-linear-gradient(bottom, rgb(247,247,247) 1%, rgb(188,188,188) 100%);
    background: -webkit-linear-gradient(bottom, rgb(247,247,247) 1%,rgb(188,188,188) 100%);
    background: linear-gradient(to top, rgb(247,247,247) 1%,rgb(188,188,188) 100%);
}

.snippetProjects h3 {
	margin: 0;
	padding: 3rem 0 2rem 0;
	font-size: 2rem;
	color: #3cb2a0;
	
}

.snippets {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto 0 auto;
	padding: 1rem 0 2rem 0;
	width: 100%;
}

.snippet {
	padding: 0 2rem 2rem 2rem;
}

.snippet img {
	border-radius: 50%;
	box-shadow: 0px 7px 13px rgba(0,0,0,.3);
	transition: .3s;
}

.snippet h4 {
	padding-top: 1rem;
}

.snippet img:hover {
	transform: translateY(.2rem);
}

/* END SNIPPET PROJECT SECTION */

/* END PROJECTS PAGE STYLING */

/* -------------------------------------- */

/* BEGIN CONTACT PAGE STYLING */


/*.contactheader {
	height: auto;
	overflow: hidden;
	background-color: rgba(55,55,55.5); 
	background-image: url(../../assets/developer/herobackground4.jpg);
	background-blend-mode: overlay;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}*/

.contactheader {
	height: auto;
	overflow: hidden;
	background-color: rgb(33,33,33);
	
    background-image: 
					  linear-gradient(to bottom left, rgba(54,0,51,.8), rgba(11,135,147,.8)),
					  url(../../assets/developer/contactheader2.jpg);
	background-image: 
	                  -moz-linear-gradient(to bottom left, rgba(54,0,51,.8), rgba(11,135,147,.8)),
	                  url(../../assets/developer/contactheader2.jpg);
    background-image: 
                      -webkit-linear-gradient(to bottom left, rgba(54,0,51,.8), rgba(11,135,147,.8)),
                      url(../../assets/developer/contactheader2.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
}

.contactmsg {
	color: #f0f0f0;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: top;
	margin: 0 auto;
	padding: 4rem 0 4rem 0;
}

.contactmsgContent {
	width: 100%;
	text-align: center;
}

.contactmsgContent p {
	width: 70%;
	margin: 0 auto;
	font-size: 1.7rem;
	line-height: 2.2rem;
	text-align: center;
}

.contactmsgContent button {
	width: auto;
	height: auto;
	margin-top: 3rem;
	padding: .5rem 2rem;
	background-color: #ef6700;
	border: none;
	border-radius: 3rem;
	box-shadow: 0px 3px 2px rgba(55,55,55,.3);
	cursor: pointer;
	transition: .3s;
}

.contactmsgContent button:hover {
	transform: translateY(.2rem);
}

.contactmsgContent a {
	font-size: 1.4rem;
	text-decoration: none;
	color: #f0f0f0;
}

.contactmsgImg {
	width: 30%;
}

.contactmsgImg img {
	width: 80%;
	border: 5px solid #168185;
	border-radius: 50%;
}

.volunteersection {
	margin: 0;
	padding-top: 0;
	background-color: #f0f0f0;
	height: auto;
	text-align: center;
}
.volunteersection h3{
	margin-top: 0;
	font-size: 2rem;
	padding: 4rem 0 .5rem 0;
	color: #707070;
	text-align: center;
}

.volunteercontent {
	padding-bottom: 4rem;
}

.volunteercontent p{
	width: 85%;
	font-size: 1.625rem;
	color: #707070;
	margin: 0 auto;
	padding-bottom: 2rem;
	line-height: 2em;
}

.volunteer a {
	display: block;
	color: #f0f0f0;
	background-color: #ef6700;
	margin: 0 auto;
	width: 12rem;
	height: 3rem;
	font-size: 1.5rem;
	border: 1px solid #ff5733;
	border-radius: 2rem;
	text-decoration: none;
	line-height: 50px;
	cursor: pointer;
	box-shadow: 0px 3px 2px rgba(55,55,55,.3);
	transition: .3s;
}

.volunteer a:hover {
	transform: translateY(.2rem);
}

/* END CONTACT PAGE STYLING */

/* -------------------------------------- */

/* BEGIN GENERAL CONTACT FORM STYLING */

div.formhidden {
	display: none;
}

.form {
	display: flex;
	width: 80%;
	margin: 0 auto;
	max-height: 40rem;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: top;
	padding: 2rem 4rem;
	animation-duration: 1.7s;
	animation-fill-mode: ease-in-out;
}

@keyframes smoothentry {
	0% {
		max-height: 0rem;
		opacity: 0;
	}

	35% {
		opacity: 0;
	}

	100% {
		max-height: 40rem;
		opacity: 1;
	}
}

@keyframes smoothexit {
	0% {
		max-height: 40rem;
		opacity: 1;
	}

	35% {
		opacity: 1;
	}

	100% {
		max-height: 0rem;
		opacity: 0;
	}
}

.formcontent {
	margin: 0 auto;
	max-height: 40rem;
	width: auto;
	animation: smoothentry 1.3s ease-in-out;
}

.form h4 {
	font-size: 1.5rem;
	color: #d4d4d4;
	font-weight: 500;
	text-shadow: 0px 3px 2px rgba(55,55,55,.4);
	margin-bottom: 1rem;
}

.formcontent a {
	font-size: 1.7rem;
	text-shadow: 0px 3px 2px rgba(55,55,55,.4);
	font-weight: 500;	
}

.formcontent span {
	font-size: 1.75rem;
	padding: 0 .25rem;
	color: #f7f7f7;
}

.formcontent hr {
	border: none;
	width: 100%;
	border-radius: 5rem;
	height: .2rem;
	margin-top: 2rem;
	background-color: rgba(0,0,0,.1);

}

.forminputs {
	width: 70%;
}


.forminputs input[type="text"]{
	font-size: 1.125rem;
	width: 45%;
	height: 30px;
	padding-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 1rem;
}

.forminputs input[type="email"]{
	font-size: 1.125rem;
	width: 45%;
	height: 30px;
	padding-left: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 1rem;
}

.forminputs textarea {
	font-size: 1.125rem;
	width: auto;
	height: auto;
	padding-left: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 1rem;
}

.sendbutton {
	font-size: 1.125rem;
	color: #f0f0f0;
	width: 100%;
	height: 40px;
	background-color: #ef6700;
	box-shadow: 0px 3px 2px rgba(55,55,55,.3);
	padding-left: 10px;
	border: none;
	border-radius: 2rem;
	cursor: pointer;
	transition-property: box-shadow;
	transition: .3s;
}

.sendbutton:hover {
	transform: translateY(.2rem);
}

/* END GENERAL CONTACT FORM STYLING */